<p>buy works!</p>
<!--{{res}}<br>-->



<img src="{{pimage}}"> <br><br>
{{pid}}<br><br>
{{pname}}<br><br>
{{price}}<br><br>
<div>
    <label>Enter quantity</label><br>
    <input type="number" name="qty" [(ngModel)]="qty"><br><br>
   <label>Selected Quantity</label>
    <input type="text" [(ngModel)]="qty">
    <label> Individual Price</label>
    <input type="text" [(ngModel)]="price"><br><br>
    <input type="button" value="Total price: {{qty*price}}" class="btn btn-warning">
</div>


<input type="button" value="confirm Buy" class="btn btn-primary">