<h1>App component</h1>

<div class="container">
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="/foo"> LOGO </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/products"> Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register"> Buy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/feedback"> Feedback </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"> Login </a>
            </li>

        </ul>
        <form class="d-flex justify-content-end">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="button">Search</button>
        </form>
    </nav>
</div>

<router-outlet></router-outlet>