<h1>App component</h1>

<div class="container">
    <nav class="navbar bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="/foo"> LOGO </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/products"> Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register"> register </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/feedback"> Feedback </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/buy"> Buy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login"> Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/parent">parent</a>
            </li>
        </ul>
        <form class="d-flex justify-content-end">
            <input id="txtsearch" class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="button" (click)="show()">Search</button>
        </form>
    </nav>
</div>

<router-outlet></router-outlet>